@model Easy.Models.Car

@{
    ViewBag.Title = "Видалення";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Видалення</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_product)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-primary btn-sm btn-active" /> |
            @Html.ActionLink("На головну", "Index")
        </div>
    }
</div>
